---
---

@import "{{ site.theme }}";

header {
  left: 40px;
  background-color: teal;
}

footer {
  left: 40px;
}

footer small {
  font-size: 10px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

a {
  color: teal;
}
